.container
	+clr
.container_pad
	margin: $pad 0 $pad $pad
	[class*='col-']:last-of-type
		padding-right: $pad 
[class*="col"]
	float: left
	padding-right: $pad
	&:last-of-type
		padding-right: 0
.col1
	width: $col+$pad
.col2
	width: $col*2+$pad
.col3
	width: $col*3+($pad*2)
.col4
	width: $col*4+($pad*3)