// Normally mainpage styles
.out
	width: 1140px
	margin: auto
	padding: 0 20px
.out_main
	.company
		.company__col1
			h3
				margin-bottom: 26px
			p
				margin-bottom: 0
.out_module
	.top
		margin-top: 22px
	.module-wrp
		padding: 41px 0px 6px
	.module__units
		margin-top: -8px
		.unit
			margin: 0 50px 35px
.out_module-view
	.top
		margin-top: 22px
	.module-desc
		padding: 36px 0 10px
.out_portfolio
	.main__tlist
		max-width: 425px
		width: 100%
		padding-top: 20px
	.main-map__top
		padding: 17px 0 15px
	.main-map__wrp
		margin-bottom: 12px
.out_portfolio-cart
	.main__top 
		.left-spacing
			padding-left: 20px
	.layout
		.square
			margin-right: 13px
	.simple-block
		margin-bottom: 18px 
		img
			margin-bottom: 11px
		p
			margin-bottom: 0
	.items__t
		padding: 4px 19px 20px 
.out_partners
	.main__top 
		.left-spacing
			padding-left: 22px
	.main__nav
		padding: 20px 9px 0
	.partners__text
		padding-right: 0
.out_ourpartners
	.main__top .left-spacing
		padding-left: 22px
	.main__nav
		padding: 19px 6px 0px
	.brands
		margin: 0 -10px
	.brands__title
		margin-bottom: 18px
	.brand__desc
		font-size: 13px
	.brand__pic
		margin-bottom: 16px
	.main__content
		margin-bottom: -15px
		overflow: hidden
.main-pages-list
	padding: 50px
	list-style-type: decimal
	li, a
		font: bold 20px Arial, sans-serif
.container
	padding: 0 20px
.header
	position: relative
	padding-top: 28px
	+clr
.header__top-line
	padding: 0 0 15px
	display: table
	width: 100%
.header__logo
	+hide-text
	+s(logo)
	display: block
.header__left
	float: left
.header__right
	width: ($col*3)-20
	float: right
	font-size: 0
.header__col
	width: 33.3333%
	display: table-cell
	vertical-align: middle
	height: 54px
	position: relative
	&:nth-last-child(1)
		width: 34%
	&:nth-last-child(2)
		width: 32%
.header__text
	font-style: italic
	font-family: Arial
	font-size: 16px
	padding: 0 20px 0 20px
.header__tel
	font-family: Arial
	font-size: 24px
	font-weight: 400
	// padding-bottom: 6px
.navigation
	height: 40px
	background-color: #ff2e06
	background-image: linear-gradient(to top, #ff2e06 0%, #f89232 100%)
	text-align: center
	a
		display: inline-block
		color: white
		font-family: Arial
		font-size: 22px
		font-weight: 700
		line-height: 40px
		text-decoration: none
		padding: 0 35px
		+tr(all 0.3s)
		&:hover, &.is-active
			background-color: #000
			background-image: linear-gradient(to top, #000 0%, #555 100%)
.select
	position: absolute
	top: 0
	max-width: 230px
	width: 100%
	height: 100%
	cursor: pointer
	&:after
		content: ' '
		display: block
		position: absolute
		z-index: 20
		+s(down)
		right: 25px
		top: 23px
	li
		display: none
		font-family: Arial
		font-size: 16px
		font-weight: 400
		color: #000
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		&.is-active
			display: block
		i
			vertical-align: middle
			margin-right: 11px
		span
			display: inline-block
			position: relative
			top: 1px
.dropdown
	border: 2px solid transparent
	border-radius: 10px
	padding: 10px
	position: absolute
	top: 0
	left: 0
	width: 100%
	background-color: #fff
	z-index: 10
	&.is-open
		border-color: #f1f1f1
		li
			display: block
			&.is-active
				margin-bottom: 10px
	li.is-active
		margin-bottom: 0
.t-title
	padding: 30px 0
	clear: both
	text-align: center
.slider-wrp
	position: relative
.slider-top
	position: relative
	img
		max-width: 100%
		height: auto
		display: block
	.slick-arrow
		&:before
			+hide-text
	.slick-prev
		margin-top: -51px
		margin-left: 20px
		+s(arrow-back)
	.slick-next
		margin-top: -51px
		margin-right: 20px
		+s(arrow-next)
.slider-top__slide
	position: relative
.slider-nav
	position: absolute
	bottom: 20px
	font-size: 0
	width: 1060px
	left: 0
	right: 0
	margin: auto
.slider-nav__thumb
	position: relative
	width: 220px
	height: 140px
	opacity: 0.9
	background-color: rgba(235, 234, 244, 0.7)
	border: 5px solid white
	text-align: center
	display: inline-block
	cursor: pointer
	+vertical
	&:not(:last-child)
		margin-right: 60px
	img
		display: inline-block
		vertical-align: middle
		
.slide-top__text
	position: absolute
	top: 42px
	right: 40px
	.title
		color: white
		font-family: Roboto
		font-size: 40px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 11px
		letter-spacing: 0.01em  
	.description
		color: white
		font-family: Roboto
		font-size: 24px
		font-weight: 300
.top
	position: relative
	text-align: center
	color: white
	margin-top: 20px
	.top__block
		min-height: 160px
		background-size: cover
		padding: 37px 0
		&.top__block_module
			background: url(../img/top-module-bg.jpg) no-repeat center top
		&.top__block_module2
			background: url(../img/top-module-bg2.jpg) no-repeat center top
		&.top__block_company
			background: url(../img/top-company-bg.jpg) no-repeat center top
	h1
		margin-bottom: 16px
	ul
		font-size: 0
	li
		display: inline-block
		a
			text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.35)
			font-size: 18px
			padding: 0 13px
			color: #fff
			text-decoration: none
			&:hover, &.is-active
				text-decoration: underline
.module-wrp
	width: 904px
	margin: auto
	padding: 43px 0 6px
	p
		text-align: justify
.module__units
	text-align: center
	font-size: 0
	.unit
		display: inline-block
		vertical-align: top
		margin: 0 50px 20px
	.unit__pic
		margin-bottom: 19px
	.unit__desc
		margin-bottom: 0
.company-wrp
	position: relative
	width: 901px
	margin: auto
	padding: 48px 0 23px
	p
		text-align: justify
		&:last-child
			margin-bottom: 0
.advantage
	hr
		margin: 45px 0 30px
.advantage__top
	position: relative
	text-align: center
	font-size: 0
	h2
		margin: 39px 0 28px
	.btn
		margin: 0 10px 30px
.advantage__text
	display: inline-block
	vertical-align: middle
	width: calc(100% - 102px)
.advantage__list
	+clr
.advantage__item
	white-space: nowrap
	&:not(:last-child)
		margin-bottom: 20px
	p
		margin-bottom: 0
		white-space: normal
	h3
		margin-bottom: 7px
		white-space: normal
	i
		display: inline-block
		vertical-align: middle
		margin-right: 22px
.advantage__unit
	display: none
	font-size: 0
	&.is-active
		display: block
.advantage__col
	width: 50%
	display: inline-block
	vertical-align: top
	padding-left: 20px
.company
	position: relative
	p
		text-align: justify
	ul
		margin-top: 17px
		li
			margin-bottom: 10px
		a
			display: inline-block
			vertical-align: middle
		i
			display: inline-block
			vertical-align: middle
			margin-right: 18px
.company__col1, .company__col2
	display: inline-block
	vertical-align: top
	width: ($col*3)-$pad
	padding-right: $pad*2
.company__col2
	width: auto
	padding-right: 0
.main
	position: relative
.main__top
	padding: 39px 0 16px
	border-bottom: 1px solid #000
	+clr
	h1
		float: left
		padding-left: 25px
		margin-bottom: 0
	.left-spacing
		padding-left: 10px
.main__tlist
	float: right
	font-size: 0
	padding-top: 16px
	li
		display: inline-block
		vertical-align: top
		margin-right: 43px
		&:last-child
			margin-right: 0
	a
		display: inline-block
		vertical-align: middle
		font-size: 16px
		color: #000
		text-decoration: none
		i
			margin-right: 20px
			display: inline-block
			vertical-align: middle
.main-map
	position: relative
.main-map__top
	padding: 22px 0 16px
	font-size: 16px
	font-weight: 400
	text-align: center
	span
		font-size: 24px
		font-weight: 700
.main-map__wrp
	position: relative
	display: block
	margin-bottom: 15px
	img
		display: block
	.btn-view
		position: absolute
		right: 0
		bottom: 0
.main-map__nav
	text-align: center
	font-size: 0
	margin-bottom: 27px
	a
		display: inline-block
		font-family: Arial
		font-size: 15px
		font-weight: 400
		color: #000
		+tr(all 0.2s)
		padding: 8px 13px 6px
		line-height: 1
		text-decoration: none
		&:hover, &.is-active
			color: #fff
			background-color: $red
.main__content,
.items__row
	position: relative
	overflow: hidden
	font-size: 0
.main__cont
	margin: 0 -10px
.items__t
	padding: 0 15px 20px
	h3
		display: inline-block
		vertical-align: middle
		margin-bottom: 0
.item
	display: inline-block
	vertical-align: top
	padding: 7px
	width: $col - 40
	margin: 0 20px 40px
	min-height: 250px
	background-color: white
	border: 3px solid #555
	text-decoration: none
.item__pic
	position: relative
	margin-bottom: 13px
	img
		display: block
		max-width: 100%
		height: auto
	i
		position: absolute
		right: 10px
		top: 10px
.item__desc
	color: #000
	font-family: Arial
	font-size: 12px
	font-weight: 400
	white-space: nowrap
	margin-bottom: 11px
	+clr
.item__name
	float: left
.item__year
	float: right
.item__title
	margin-bottom: 14px
	text-transform: uppercase
.item__location
	color: #000
	font-family: Arial
	font-size: 11px
	font-weight: 400
	padding-right: 26px
	background: url(../img/location.png) no-repeat top right
	display: inline-block
	height: 20px
	line-height: 20px
	float: right
.main__bottom
	position: relative
	text-align: center
	.btn
		margin-bottom: 12px
.main__in
	margin: 0 -10px
	font-size: 0
.main__nav
	position: relative
	float: right
	font-size: 0
	padding: 15px 9px 0
	a
		display: inline-block
		color: #000
		font-family: Arial
		font-size: 16px
		padding: 0 12px
		text-decoration: none
		&.is-active
			font-weight: 700
.main__awards
	padding-bottom: 62px
	> h3
		padding: 27px 10px 20px
		margin-bottom: 0
.award
	display: inline-block
	vertical-align: top
	width: $col - 40
	margin: 0 20px 28px
	background-color: white
.award__pic
	margin-bottom: 19px
.award__name
	margin-bottom: 11px
.award__desc
	margin-bottom: 0
.layout
	position: relative
	.container
		padding: 19px 0 0
		margin: 0 -5px
	.col
		display: inline-block
		vertical-align: top
		padding: 0 20px
	.col1
		overflow: hidden
	.col2
		width: $col
		p
			word-spacing: -0.04em
			letter-spacing: -0.01em 
	.col3
		width: $col
	.row
		padding-bottom: 20px
		h3
			display: inline-block
			vertical-align: middle
			margin-bottom: 0
	p
		text-align: justify
		color: #000
		font-family: Arial
		font-size: 15px
		font-weight: 400
.simple-block
	position: relative
	p
		text-align: left
		letter-spacing: -0.01em
.gallery
	display: inline-block
	position: relative
	font-size: 0
	padding-top: 50px
.gallery__thumb
	display: inline-block
	vertical-align: top
	margin: 20px 20px 0 0
	&:last-child
		margin-right: 0
.square
	width: 30px
	height: 30px
	background-color: $red
	display: inline-block
	vertical-align: middle
	margin-right: 21px
.brands
	position: relative
	margin: 0 -15px
	padding: 27px 0 0
.brand
	display: inline-block
	vertical-align: top
	width: $col
	padding: 0 30px
	margin-bottom: 30px
.brands__title
	padding: 0 30px
.brand__pic
	margin-bottom: 19px
.brand__name
	margin-bottom: 11px
.brand__desc
	margin-bottom: 0
.partners
	width: 900px
	margin: auto
	text-align: justify
	padding: 42px 0 52px
.partners__text
	margin-bottom: 0
	padding: 0 8px 29px 0
.pform
	position: relative
	width: 720px
	.btn
		width: 140px
		height: 40px
		background-color: #5cb85c
		border: 1px solid #4cae4c
		border-radius: 6px
		color: white
		font-family: Arial
		font-size: 16px
		font-weight: 700
		position: relative
		&:active
			top: 1px
	select.input
		-moz-appearance: none
		-ms-appearance: none
		appearance: none !important
		text-indent: 0.01px 
		position: relative
	select::-ms-expand
		display: none
	.arrow-bottom
		position: relative
		display: block
		position: absolute
		right: 19px
		top: 15px
		+arr(9, 5, #000, b)
		pointer-events: none
.pform__row
	font-size: 0
	&:not(:last-child)
		margin-bottom: 8px
	[class^="col"]
		display: inline-block
		vertical-align: middle
		position: relative
	.col1
		width: 25%
		padding-right: 15px
	.col2
		width: 75%
.pform__text
	line-height: 20px
	margin-bottom: 0
.contact
	position: relative
	padding: 32px 0 69px
	width: 900px
	margin: auto
	font-size: 16px
	h4
		margin-bottom: 10px
	b
		margin-bottom: 22px
		font-weight: 700
		display: inline-block
.contact__address
	margin-bottom: 24px
.contact__row
	position: relative
	font-size: 0
	margin-bottom: 30px
	span
		line-height: 18px
	.tel, .mail
		display: inline-block
		vertical-align: top
		width: 50%
		font-size: 16px
.contact__map
	position: relative
	img
		margin-bottom: 26px
		display: block
.description
	margin-bottom: 36px
	font-size: 0
	.description__left,
	.description__right
		display: inline-block
		vertical-align: middle
		width: 90%
		font-size: 16px
	.description__left
		width: 10%
.personal-wrp
	margin: 0 -10px
	padding-bottom: 8px
.personal-top
	padding: 19px 30px 0
	h3
		display: inline-block
		margin-bottom: 0
		vertical-align: middle
.personal
	margin-top: 20px
	padding-left: 20px
	display: inline-block
	vertical-align: top
	width: $col
	padding: 0 30px
	img
		margin-bottom: 19px
.personal__desc
	font-size: 13px
.module-desc
	position: relative
	padding: 30px 0 10px
	.list
		width: 900px
		margin: auto
		li
			margin-bottom: 30px
	.list__row
		padding: 0
		position: relative
		&:before
			content: ' '
			display: block
			position: absolute
			left: -50px
			bottom: 0
			width: 30px
			height: 30px
			background-color: #fe3f07
		h3
			margin-bottom: 30px
	p
		text-align: justify
		margin-bottom: 0
.list__module
	border: 4px solid #e2e2e2
	text-align: center
	height: 360px
	overflow: hidden
	padding: 20px 0
	margin-bottom: 30px
	img
		left: 0
		top: 0
		bottom: 0
		right: 0
		margin: auto
	.twentytwenty-overlay
		display: none
		&:hover
			background: none
	.twentytwenty-right-arrow
		display: none
	.twentytwenty-left-arrow
		+s(twenty-arrows)
		border: 0
		+box
		margin: -11px 0 0 -11px
	.twentytwenty-handle
		width: 50px
		height: 50px
		border-color: #e2e2e2
		+box
		margin: -25px 0 0 -25px
		&:before,
		&:after
			box-shadow: none
			background: #e2e2e2 
.table-option
	table-layout: fixed
	tr
		&:not(:last-child)
			td
				padding-bottom: 18px
	td
		vertical-align: top
		&:nth-child(1), &:nth-child(3)
			width: 177px
		&:nth-child(2)
			width: 280px
.category
	position: relative
	font-size: 0
.category__container
	margin-right: -25px
.category__item
	display: inline-block
	vertical-align: top
	margin-right: 25px
	figcaption
		font-size: 15px
		text-align: center
	img
		display: inline-block
		margin-bottom: 13px



.footer
	position: relative
	font-family: Arial
	font-size: 13px
	font-weight: 400
	hr
		margin: 37px 0 29px
	a
		font-size: 13px
.footer__list
	padding-bottom: 61px
	+clr
	li
		width: 25%
		float: left
		&:nth-last-child(1)
			width: 23%
		&:nth-last-child(2)
			width: 27%
.footer__address
	padding-left: 16px
.social
	text-align: center
	font-size: 0
	a
		display: inline-block
		cursor: pointer
		text-decoration: none
		&:not(:last-child)
			margin-right: 20px
.footer__logo
	+s(logo-ft)
	display: block
	margin: auto
@each $s in vk, tw, fb, you, ins
	.social__#{$s}
		+s(#{$s})
		