<div class="advantage">
	<div class="advantage__top">
		<h2 class="is-uppercase">Наши преимущества</h2>
		<a href="#" data-target="block1" class="btn is-active">организационные</a>
		<a href="#" data-target="block2" class="btn">технические</a>
	</div>
	<ul class="advantage__list">
		<li class="advantage__unit is-active" id="block1">
			<div class="advantage__col">
				<article class="advantage__item">
					<i class="icon-reputation"></i>
					<div class="advantage__text">
						<h3>Наша репутация</h3>
						<p>ЗАО ЗМК уже 45 лет на рынке</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-experience"></i>
					<div class="advantage__text">
						<h3>Накопленный опыт</h3>
						<p>ЗМК имеет широкую географию строительства</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-skill"></i>
					<div class="advantage__text">
						<h3>Квалицифицрованные</h3>
						<p>Штат ЗМК состоит из профессионалов,</p>
					</div>
				</article>
			</div>
			<div class="advantage__col">
				<article class="advantage__item">
					<i class="icon-equipment"></i>
					<div class="advantage__text">
						<h3>Современное оборудование</h3>
						<p>ЗМК имеет обновленный станочный парк</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-productions"></i>
					<div class="advantage__text">
						<h3>Полный цикл производства</h3>
						<p>Обработка и изготовление всех деталей</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-development"></i>
					<div class="advantage__text">
						<h3>Современные разработки</h3>
						<p>Мы инвестируем в усовершенствование</p>
					</div>
				</article>
			</div>
		</li>
		<li class="advantage__unit" id="block2">
			<div class="advantage__col">
				<article class="advantage__item">
					<i class="icon-reputation"></i>
					<div class="advantage__text">
						<h3>Наша репутация</h3>
						<p>ЗАО ЗМК уже 45 лет на рынке</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-experience"></i>
					<div class="advantage__text">
						<h3>Накопленный опыт</h3>
						<p>ЗМК имеет широкую географию строительства</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-skill"></i>
					<div class="advantage__text">
						<h3>Квалицифицрованные</h3>
						<p>Штат ЗМК состоит из профессионалов,</p>
					</div>
				</article>
			</div>
			<div class="advantage__col">
				<article class="advantage__item">
					<i class="icon-equipment"></i>
					<div class="advantage__text">
						<h3>Современное оборудование</h3>
						<p>ЗМК имеет обновленный станочный парк</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-productions"></i>
					<div class="advantage__text">
						<h3>Полный цикл производства</h3>
						<p>Обработка и изготовление всех деталей</p>
					</div>
				</article>
				<article class="advantage__item">
					<i class="icon-development"></i>
					<div class="advantage__text">
						<h3>Современные разработки</h3>
						<p>Мы инвестируем в усовершенствование</p>
					</div>
				</article>
			</div>
		</li>
	</ul>
	<hr>
</div>