<section class="company">
	<div class="container">
		<div class="col-xs-9">
			<h3>О компании</h3>
			<p>
				Добро пожаловать на сайт ЗАО "Завод Металлоконструкций"! Приоритетом нашей компании является предоставление услуг на высоком уровне, которое уже много лет позволяет нам видеть удовлетворенных и признательных клиентов. Нашей основной продукцией является модуль типа Кисловодск. Вы всегда можете обратиться по указанным  контактам для получения любой интересующей Вас информации. Мы будем рады помочь Вам и ответить на все вопросы! 
			</p>
		</div>
		<div class="col-xs-3">
			<h3>Загрузить</h3>
			<p>
				<ul>
					<li><i class="icon-pdf"></i><a href="#">Каталог продукции</a></li>
					<li><i class="icon-pdf"></i><a href="#">Презентация</a></li>
				</ul>
			</p>
		</div>
	</div>
</section>