<footer class="footer">
	<div class="container">
		<hr>
		<ul class="footer__list clearfix">
			<li class="col-xs-3">
				<div class="footer__copy">
					© 1973–2016 ЗАО «Завод <br> металлоконструкций»
				</div>
			</li>
			<li class="col-xs-3">
				<div class="footer__address">
					Россия, Ставропольский край, <br>
					г. Кисловодск, ул.Калинина, д.168 <br>
					<a href="mailto:info@zmk26.ru">info@zmk26.ru</a>
				</div>
			</li>
			<li class="col-xs-3">
				<div class="social">
					<a class="social__vk" href="#"></a>
					<a class="social__you" href="#"></a>
					<a class="social__fb" href="#"></a>
					<a class="social__tw" href="#"></a>
					<a class="social__ins" href="#"></a>
				</div>
			</li>
			<li class="col-xs-3">
				<a href="#" class="footer__logo"></a>
			</li>
		</ul>
	</div>
</footer>