<header class="header">
	<div class="container">
		<div class="col1">
			<a href="#" class="header__logo">
				ZMK
			</a>
		</div>
		<div class="col3">
			<div class="header__top-line">
				<div class="header__text">Навстречу инновациям</div>
				<div class="select js-dropdown">
					<ul class="dropdown">
						<li class="is-dropdown">
							<i class="icon-rus"></i><span>Россия</span>
							<ul>
								<li>
									<i class="icon-kaz"></i><span>Казахстан</span>
								</li>
								<li>
									<i class="icon-arm"></i><span>Армения</span>
								</li>
								<li>
									<i class="icon-gbr"></i><span>Великобритания</span>
								</li>
								<li>
									<i class="icon-zaf"></i><span>Южная Африка</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="header__tel">(87937) 6-48-80, 63-0-63</div>
			</div>
			<nav class="navigation">
				<a href="#">О модуле</a>
				<a href="#">Портфолио</a>
				<a href="#">Партнерам</a>
				<a href="#">О компании</a>
			</nav>
		</div>
	</div>
	<h2>Перекрестно-стержневой пространственный модуль «Кисловодск»</h2>
</header>