<header class="header">
	<div class="header__left">
		<a href="#" class="header__logo">
			ZMK
		</a>
	</div>
	<div class="header__right">
		<div class="header__top-line">
			<div class="header__col">
				<div class="header__text">Навстречу инновациям</div>
			</div>
			<div class="header__col">
				<div class="select is-dropdown">
					<ul class="dropdown">
						<li class="is-active">
							<i class="icon-rus"></i><span>Россия</span>
						</li>
						<li>
							<i class="icon-kaz"></i><span>Казахстан</span>
						</li>
						<li>
							<i class="icon-arm"></i><span>Армения</span>
						</li>
						<li>
							<i class="icon-gbr"></i><span>Великобритания</span>
						</li>
						<li>
							<i class="icon-zaf"></i><span>Южная Африка</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="header__col">
				<div class="header__tel">(87937) 6-48-80, 63-0-63</div>
			</div>
		</div>
		<nav class="navigation">
			<a href="module.html">О модуле</a>
			<a href="#">Портфолио</a>
			<a href="#">Партнерам</a>
			<a href="#">О компании</a>
		</nav>
	</div>
</header>